<div *ngIf="alreadyAuthenticated; else loginFormTemplate">
  <div class="custom-form">
    <h2>Ya has iniciado sesión</h2>
    <p>¿Qué deseas hacer?</p>
    <button name="aceptarCookie" class="btn btn-primary" (click)="onContinue()">Continuar</button>
    <button name="rechazarCookie" class="btn btn-secondary" (click)="onGoToLogin()">Volver al Login</button>
  </div>
</div>

<ng-template #loginFormTemplate>
  <form class="custom-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">      
    <label>Email</label>
    <input  
      type="email"
      formControlName="email"
      placeholder="Introduce tu email"
      name="email"
    />
    <div class="invalid-feedback" *ngIf="this.loginForm.controls['email'].errors">
      <div *ngIf="this.loginForm.controls['email'].errors?.['required']">
        El email es obligatorio
      </div>
      <div *ngIf="this.loginForm.controls['email'].errors?.['email']">
        El formato del email no es correcto
      </div>
    </div>
    
    <label>Contraseña</label>
    <input  
      type="password"
      placeholder="Introduce tu contraseña"
      formControlName="pwd"
      name = "pwd"
    />
    <div class="invalid-feedback" *ngIf="this.loginForm.controls['pwd'].errors">
      <div *ngIf="this.loginForm.controls['pwd'].errors?.['required']">
        La contraseña es obligatoria
      </div>
      <div *ngIf="this.loginForm.controls['pwd'].errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres
      </div>
      <div *ngIf="this.loginForm.controls['pwd'].errors?.['passwordStrength']">
        Tu contraseña debe tener mayúsculas, minúsculas y números.
      </div>
    </div>
    
    <button name="continuar" class="btn btn-primary" [disabled]="loginForm.invalid">Logarse</button>
    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
    
    <a class="register-link" routerLink="/Register">¿No tienes cuenta? ¡Regístrate ahora!</a>
    <div>
      <button type="button" (click)="recuperarContrasena()">Recuperar Contraseña</button>
    </div>
  </form>
</ng-template>
