<h1>Mis Listas</h1>

<div *ngIf="listas.length > 0; else noListas" class="listas-container">
  <div *ngFor="let lista of listas; let i = index" class="lista-card">
    <h3>{{ lista.nombre }}</h3>
    <button (click)="verDetalles(i)">Ver detalles</button>
    <button (click)="eliminarLista(lista.id)">Eliminar</button>
  </div>
</div>

<ng-template #noListas>
  <p>No hay listas disponibles para mostrar.</p>
</ng-template>

<!-- Condición para mostrar el componente de creación de listas -->
<div *ngIf="puedeCrearLista(); else limiteListas">
  <app-create-list></app-create-list>
</div>

<!-- Mensaje de advertencia -->
<ng-template #limiteListas>
  <p>Lo siento, para crear más de dos listas debes ser usuario Premium.</p>
</ng-template>
