<div>
  <label for="email">Email:</label>
  <input type="email" [(ngModel)]="email" name="email" placeholder="Introduce tu email" required>

  <label for="password">Contraseña:</label>
  <input type="password" [(ngModel)]="pwd1" name="password" placeholder="Introduce tu contraseña" required>

  <label for="confirmPassword">Confirmar Contraseña:</label>
  <input type="password" [(ngModel)]="pwd2" name="confirmPassword" placeholder="Confirma tu contraseña" required>

  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
    <label for="premium" style="margin: 0;">Usuario Premium</label>
    <input
      id="premium"
      type="checkbox"
      [(ngModel)]="isPremium"
      [disabled]="!email || !pwd1 || !pwd2"
    />
  </div>



  <button name="btn_registrar" [disabled]="!email || !pwd1 || !pwd2" (click)="registrar()">Registrar</button>

  <button name="btn_volver_al_Login" routerLink="/Login">Volver al Login</button>

  <span *ngIf="respuestaOK" class="respuesta">Registro exitoso.</span>
</div>
