<div>
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Introduce tu email">
  
    <label for="password">Contraseña:</label>
    <input type="password" [(ngModel)]="pwd1" name="password" placeholder="Introduce tu contraseña">
  
    <label for="confirmPassword">Confirmar Contraseña:</label>
    <input type="password" [(ngModel)]="pwd2" name="confirmPassword" placeholder="Confirma tu contraseña">
  
    <button (click)="registrar()">Registrar</button>
    <button routerLink="/Login">Volver al Login</button>
  
    <span *ngIf="respuestaOK" class="respuesta">Registro exitoso.</span>
    <span *ngIf="contraseniascoinciden">Las contraseñas no coinciden.</span>
  </div>
  